!!! 5
html(lang="en")
  head
    title My Repos On GitHub
    link(href: "http://s3.amazonaws.com/giles/jade_101110/style.css", media: "screen", rel: "stylesheet", type: "text/css")
  body
    a(href: "https://github.com/gilesbowkett/minimal-github-dashboard", id: "wtf") wtf is this about.
    div#list_wrapper
      ul.multiple_columns
        - for(var index in data["repositories"])
          - var repo = data["repositories"][index]
          - if(false == repo["fork"])
            li
              a(href: repo["url"], title: repo["name"])= repo["name"]
              div#description= repo["description"]
